* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main__menu {
    width: 1200px;
    margin: auto;
}

.container {
    border-radius: 5px;
    width: 950px;
    margin: auto;
    background: rgb(42, 141, 240);
}

.main__menu ul li {
    display: inline-block;
}

.main__menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    border-right: 1px solid #777;
}
.main__menu ul li:last-child a {
    border-right: none;
}

