* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1200px;
    margin: auto;
}

img {
    max-width: 100%;
}

.logo {
    max-width: 200px;
}

nav {
    background-color: orangered;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px;
}

.block__title {
    padding: 25px 0;
    text-align: center;
}

.block__title .block__content {
    max-width: 600px;
    margin: auto;
}
.blogs {
    display: flex;
    flex-wrap: wrap;
}

.blogs .blog__item {
    padding: 10px;
    flex-basis: 25%;
}

.blogs .blog__item img {
    width: 100%;
}

@media screen and (max-width: 640px) {
    .blogs .container {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }
    .blogs .blog__item {
        flex-basis: 100%;
    }
} 

